.slidelayout{
    width: 85%;
    position: relative;
    top:10px;
    left:130px;
}
.carousel-inner img {
width: 75%;
height: 100%;
}
.carousel-control-prev{
    left:10%;
}
.carousel-control-next{
    right: 10%;
}